{% extends "includes/base.html" %}
{% load static %}
{% block content %}
<!-- DITO KA MAS START MAGLAGAY NG LAMAN NG BODY -->

<div class="col-sm-12">
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
       <h1 class="h3 mb-0 text-gray-800">Add Cycle</h1>
   </div>
</div>

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
           <div class="card">
              <div class="card-body">

<!-- DITO KA MAS START MAGLAGAY NG LAMAN NG BODY -->

<!-- Page Heading -->

<form method="post" action="{% url 'add_schoolyear' %}" enctype="multipart/form-data">
    {% csrf_token %}
       

       {% include 'includes/messages.html' %}


       <div class="col-sm-11">
          <div class="form-group">
             <label>Start of Cycle</label>
             <input type="date" class="form-control form-control-user" name="sy_start" required>
          </div>
       </div>

       <div class="col-sm-11">
        <div class="form-group">
           <label>End of Cycle</label>
           <input type="date" class="form-control form-control-user" name="sy_end" required>
        </div>
     </div>

       <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Cycle</button>
       </div>
   

   <!-- DITO ANG END NG BODY. WAG KA LALAMPAS -->
</form>
</div>
</div>
</div>
</div>


<!-- /.container-fluid -->
</div>
{% endblock  %}

