{% extends "includes/base.html" %}
{% load static %}
{% block content %}
<!-- DITO KA MAS START MAGLAGAY NG LAMAN NG BODY -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
           <div class="card">
              <div class="card-body">

<form class="user" method="post" action=" {% url "add_member" %} " enctype="multipart/form-data" onsubmit="return validateForm()" >
   {% csrf_token %}
   {% include 'includes/messages.html' %}
   

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" style="text-transform: uppercase;font-size: 1.1rem;" class="form-control form-control-user" id="first_name"
                placeholder="First Name" name="first_name" required/>
        </div>
        <div class="col-sm-6">
            <input type="text" style="text-transform: uppercase;font-size: 1.1rem;" class="form-control form-control-user" id="last_name"
                placeholder="Last Name" name="last_name" required/>
        </div>
    </div>

    <div class="form-group">
        <input type="email" class="form-control form-control-user" id="email"
            placeholder="Email Address" name="email" style="font-size: 1.1rem;" required/>
    </div>

    <div class="form-group">
        <input type="text" class="form-control form-control-user" id="contact_no"
            placeholder="Contact No. Ex. 09123456789" name="contact_no" maxlength="11" style="font-size: 1.1rem;" required/>
    </div>

    <div class="form-group">
        <input type="username" class="form-control form-control-user" id="exampleInputUsername"
            placeholder="Username" name="username" style="font-size: 1.1rem;" required/>
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="password" class="form-control form-control-user"
                id="exampleInputPassword" placeholder="Password" name="password" style="font-size: 1.1rem;" required/>
        </div>
        <div class="col-sm-6">
            <input type="password" class="form-control form-control-user"
                id="repeatpassword" placeholder="Repeat Password" name="repeatpassword" style="font-size: 1.1rem;" required/>
                <label id="passwordError" class="form-label text-danger d-none">Passwords do not match.</label>
            </div>
    </div>
    
    <div class="col-sm mb-3">
        <input class="form-check-input me-2" type="checkbox" value="" id="termsCheckbox"/>
      
        <label class="form-check-label" for="termsCheckbox" >
          I agree all statements in <a href="#!">Terms of service</a>
        </label>
      </div>

    <button id="registerButton" class="btn btn-primary btn-user btn-block" type="submit">Register</button>

</form>
</div>
</div>
</div>
</div>

   <!-- DITO ANG END NG BODY. WAG KA LALAMPAS -->


</div>
<!-- /.container-fluid -->
{% endblock  %}

