{% extends "includes/base.html" %}
{% load static %}
{% block content %}
<!-- DITO KA MAS START MAGLAGAY NG LAMAN NG BODY -->
<div class="col-sm-12">
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
       <h1 class="h3 mb-0 text-gray-800">Edit Cycle</h1>
   </div>
</div>
<!-- Begin Page Content -->
<div class="container-fluid">
<!-- Page Heading -->
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
<!-- DITO KA MAS START MAGLAGAY NG LAMAN NG BODY -->



<form method="post" action="{% url 'update_schoolyear' %}" >
   {% csrf_token %}
      {% include 'includes/messages.html' %}


      <div class="col-sm-11">
         <div class="form-group">
            <label>Start of Cycle</label>
            <input type="text" class="form-control" name="id" value= "{% for i in schoolyear %}{{i.id}}{% endfor %}"required hidden>
            <input type="date" class="form-control" name="sy_start" value= "{% for i in schoolyear %}{{i.sy_start|date:'Y-m-d'}}{% endfor %}"required>
            <br>
            <label>End of Cycle</label>
            <input type="date" class="form-control" name="sy_end" value="{% for i in schoolyear %}{{i.sy_end|date:'Y-m-d'}}{% endfor %}" required>
         </div>
      </div>

      <div class="col-12">
         <button type="submit" class="btn btn-primary">Update Cycle</button>
      </div>
   
</form>

<!-- DITO ANG END NG BODY. WAG KA LALAMPAS -->
    </div>
</div>
</div>
</div>

<!-- /.container-fluid -->
</div>
{% endblock  %}

