{% extends "hoo/home.html" %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">View Officer</h1>
</div>

<div class="row mb-3">
    <div class="col-sm-6">
        <div class="form-group">
            <label >Search Officer by Firstname | Lastname | Position </label>
            <input type="text" id="search" class="form-control" placeholder="Search teacher...">
        </div>
    </div>
<div class="col-sm-6">

{% endblock  %}