   {% load static %}
    <!-- Bootstrap core JavaScript-->
    {% comment "" %}
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% endcomment %}
    {% comment %} <script src=" {% static "js/demo/chart-bar-demo.js" %} "></script> {% endcomment %}
    <script src=" {% static "vendor/jquery/jquery.min.js" %} "></script>
    <script src=" {% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %} "></script>
   
    {% comment "" %}<!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    {% endcomment %}

    <!-- Core plugin JavaScript-->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Custom scripts for all pages-->
    {% comment "" %}<script src="js/sb-admin-2.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
    {% endcomment %}
    <!-- Custom scripts for all pages-->
    {% comment "" %}<script src="js/sb-admin-2.min.js"></script>{% endcomment %}
    <script src="{% static "js/sb-admin-2.min.js" %}"></script>

    {% comment "" %}
    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
{% endcomment %}
    <!-- Page level plugins -->
    <script src=" {% static "vendor/chart.js/Chart.min.js" %} "></script>

    {% comment "" %}
    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
{% endcomment %}

    <!-- Page level custom scripts -->
    <script src=" {% static "js/demo/chart-area-demo.js" %} "></script>
    <script src=" {% static "js/demo/chart-bar-demo.js" %} "></script>
    <script src=" {% static "js/demo/chart-pie-demo.js" %} "></script>
    <script src=" {% static "js/demo/datatables-demo.js" %} "></script>