
</div>
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous">
    
</script>
<!-- Remove the container if you want to extend the Footer to full width. -->
<footer class="text-center text-white" style="background-color:#43a1ff;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://www.facebook.com/psiteregion3/?viewas=100000686899395"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
       
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
         {% comment %}
        
<!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>

 <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>

        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a> 
        {% endcomment %}
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Copyright © 2025 
      <a class="text-light" href="https://www.facebook.com/senseijoshopisyal">Joshua Tiongco</a>
    </div>
    <!-- Copyright -->
  </footer>
    
  <!--ITO YUNG BUTTON NA NICCLICK PARA MAGSCROL ULIT PATAAS-->

<a class="scroll-to-top rounded primary" href="#page-top" style="display: inline;">
  <i class="fas fa-angle-up">
    ::before
  </i>
</a>
  <!-- End of .container -->
</body>
</html>