<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TracKaPSITE | Member Registration </title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image " ><img src=" {% static "assets/android-chrome-512x512.png" %} " class="img-fluid" alt="TracKaPSITElogo"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Register as Member</h1>
                            </div>

                            <form class="user" method="post" action=" {% url "registration_bypass" %} " enctype="multipart/form-data" onsubmit="return validateForm()" >
                               {% csrf_token %}
                               {% include 'includes/messages.html' %}
                               
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" style="text-transform: uppercase;" class="form-control form-control-user" id="first_name"
                                            placeholder="First Name" name="first_name" required/>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" style="text-transform: uppercase;" class="form-control form-control-user" id="last_name"
                                            placeholder="Last Name" name="last_name" required/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email"
                                        placeholder="Email Address" name="email" required/>
                                </div>

                                <div class="form-group">
                                    
                                    <input type="text" class="form-control form-control-user" id="contact_no"
                                        placeholder="Contact No. Ex. 09123456789" name="contact_no" maxlength="11" required/>
                                </div>
                                {% comment %} <div class="form-group">
                                    <label for="genderSelect">Gender</label>
                                    <select class="form-control" id="genderSelect" name="gender" >
                                        <option value="" disabled selected>Select your gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                        <option value="prefer_not_to_say">Prefer not to say</option>
                                    </select>
                                </div> {% endcomment %}

                                <div class="form-group">
                                    <input type="username" class="form-control form-control-user" id="exampleInputUsername"
                                        placeholder="Username" name="username" required/>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" name="password" required/>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="repeatpassword" placeholder="Repeat Password" name="repeatpassword" required/>
                                            <label id="passwordError" class="form-label text-danger d-none">Passwords do not match.</label>
                                        </div>
                                </div>
                                
                                <div class="col-sm mb-3">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="termsCheckbox"/>
                                  
                                    <label class="form-check-label" for="termsCheckbox" >
                                      I agree all statements in <a href="#!">Terms of service</a>
                                    </label>
                                  </div>

                                <button id="registerButton" class="btn btn-primary btn-user btn-block" type="submit">Register</button>
                                {% comment "" %}
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                                {% endcomment %}
                            </form>
                            
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot_password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url "login" %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        function validateForm() {
            var checkbox = document.getElementById("termsCheckbox");
            var password = document.getElementById("password").value;
            var repeatPassword = document.getElementById("repeatpassword").value;
            var passwordError = document.getElementById("passwordError");
  
            // Validate checkbox
            if (!checkbox.checked) {
                alert("You must agree to the terms of service before registering.");
                return false;
            }
  
            // Validate passwords
            if (password !== repeatPassword) {
                passwordError.classList.remove("d-none");
                return false;
            } else {
                passwordError.classList.add("d-none");
            }
  
            return true;
        }
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>